# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.9.12

## Exercícios Cap02

# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [2]:
listanum = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
listanum

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
print(listanum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [7]:
lista = [1, 'cadeira', 2750, -2, 'bola']

In [8]:
lista

[1, 'cadeira', 2750, -2, 'bola']

In [9]:
print(lista)

[1, 'cadeira', 2750, -2, 'bola']

# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [10]:
str1, str2 = ('Olá', 'Mundo!')

In [11]:
str1

'Olá'

In [12]:
str2

'Mundo!'

In [14]:
str1 + ' ' + str2

'Olá Mundo!'

In [15]:
print(str1 + ' ' + str2)

Olá Mundo!

# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [16]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

In [17]:
print(tupla.count(4))

3

# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [18]:
dicvazio = {}

In [19]:
print(dicvazio)

{}

# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [21]:
dic = {'Ale':39, 'Deise':35, 'Milk':7}

In [22]:
print(dic)

{'Ale': 39, 'Deise': 35, 'Milk': 7}

# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [25]:
dic['Arthur'] = 7

In [26]:
print(dic)

{'Ale': 39, 'Deise': 35, 'Milk': 7, 'Arthur': 7}

# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. Imprima o dicionário na tela.

In [29]:
dic2 = {'key1':11, 'key2':[3,8], 'key3':125}

In [30]:
print(dic2)

{'key1': 11, 'key2': [3, 8], 'key3': 125}

# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.

In [32]:
lista2 = ['Eu sou uma string', (5,24), {'k1':1, 'k2':2}, 7.36]

In [33]:
print(lista2)

['Eu sou uma string', (5, 24), {'k1': 1, 'k2': 2}, 7.36]

# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [34]:
frase = 'Cientista de Dados é o profissional  mais sexy do século XXI'

In [36]:
print(frase[0:18])

Cientista de Dados

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>

Parabéns se você chegou até aqui. Use o voucher PYTHONDSA9642 para comprar qualquer curso ou Formação da DSA com 5% de desconto.